./DeepCGSR_triet/config/stanford-parser-full-2020-11-17/stanford-parser-4.2.0-models.jar
DeepCGSR_triet/config/stanford-parser-full-2020-11-17/stanford-parser-4.2.0-models.jar
./DeepCGSR_triet/data/raw/Beauty_5.json
DeepCGSR_triet/data/raw/Beauty_5.json
